.pageWrapper {
    min-height: 100vh;
    overflow-x: hidden;
    flex-grow: 1;
}

.contentArea {
    // flex-grow: 1;
    // max-width: 1300px;
    max-width: 1273px;
    margin: 0 auto;
}

.card {
    box-shadow: $card-box-shadow;
    margin-bottom: 30px;
    background-color: $white;
}

.list-group-item {
    background-color: $white !important;
}

.circle-box {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;

    &.lg-box {
        width: 60px;
        height: 60px;
        font-size: 21px;
        line-height: 60px;
    }
}

.button-group .btn {
    margin: 3px;
}


// Remove focus outline on input-field (form-control)
.remove-focus-ring:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: inherit;
}

@media (min-width: 992px) {
    .custom-lg {
        flex: 0 0 auto;
        width: 30%; // Example width for large screens
    }
}

table {

    th,
    td {
        background-color: $white !important;
    }

    th {
        font-weight: 500;
    }
}

.dropdown-menu {
    background-color: $white !important;
}